<table mat-table [dataSource]="clients" class="mat-elevation-z8">
    <ng-container matColumnDef="cpfCnpj">
      <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
      <td mat-cell *matCellDef="let client"> {{client.cpfCnpj}} </td>
    </ng-container>
  
    <ng-container matColumnDef="razaoSocial">
      <th mat-header-cell *matHeaderCellDef> Razão Social </th>
      <td mat-cell *matCellDef="let client"> {{client.razaoSocial}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cidade">
      <th mat-header-cell *matHeaderCellDef> Cidade </th>
      <td mat-cell *matCellDef="let client"> {{client.cidade}} </td>
    </ng-container>
  
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let client"> {{client.estado}} </td>
    </ng-container>
  
    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef> Situação </th>
      <td mat-cell *matCellDef="let client"> {{client.situacao}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let client">
        <button mat-button color="primary" (click)="editClient(client)">Editar</button>
        <button mat-button color="warn" (click)="deleteClient(client.id)">Excluir</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  